@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.video-player-modal > .video-js{
    width: 100%;
    /* height: auto; */
}


/* video::-webkit-media-controls-panel {
    display: none !important;
    pointer-events: none !important;
} */

.ql-toolbar.ql-snow {
    border: transparent !important;
    box-sizing: border-box;
    font-family: inherit !important;
    padding: 8px 0px !important;
}

.ql-container.ql-snow{
    border: transparent !important;
}

.ql-editor{
    padding: 12px 0px !important;
}